
h1 {
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
}

.tbl-content {
    height: 300px;
    overflow-x: auto;
    margin-top: 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

.sidenav span {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20%;
    color: #818181;
    display: block;
}

[rank = 'rank0'] {
    background: rgb(212, 175, 55);
}

[rank = 'rank1'] {
    background: rgb(192, 192, 192);
}

[rank = 'rank2'] {
    background: rgb(191, 137, 112);
}

[isInFuture = 'notInFuture'] {
    color: red;
}

.notVoted {
    background-color: white;
}

.voted {
    background-color: #B0B0B0;
}

.showEvent {
    background-color: white;
}

.showMore {
    padding: 20px 0 20px 40px;
    text-decoration: none;
    font-size: 22px;
    color: #818181;
    display: block;
}

.showMore:hover {
    color: #f1f1f1;
}

.centerMe {
    margin-left: 40px;
}